.banner1-desktop{
  background-size: cover;
  color: white;
  height: 95vh;
  width: 100vw;
  min-height: 600px;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // text-align: center;
  position: relative;
  top: 5vh;
  .banner1-desktop h1{
  font-size:72px;
  }
  .banner1-desktop h3{
  color:white;
  }
}



.banner1-desktop-content{
  position: absolute;
  right: 50px;
  top:26vh;
  height: 50% !important;
  text-align: right;
}

 .fruta{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45vh;
 }












// .banner{
//   background-image: url(../images/banner-background-b.png);
//   background-size: cover;
//   color: white;
//   height: 100vh;
//   min-height: 600px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   text-align: center;
//   position: relative;
// }

// .banner h2{
//   color:white;
// }
// .fruta{
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 45vh;

// }

// .flags{
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 75%;

// }
// .chica{
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   height: 45vh;

// }
// .banner-content{
//   position: absolute;
//   right: 50px;
//   top:25vh;
//   height: 50% !important;
//   text-align: right;
// }

// .banner-content2{
//   position: absolute;
//   left: 100px;
//   top:5vh;
//   text-align: left;
//   width: 600px;

// }

// .banner-content2 h1{
//   font-size: 48px;
// }


// .banner-content2 p{
//   color:black;
// }
// .banner2{
//   background-size: cover;
//   background-color: #A3D5D5;
//   color: white;
//   height: 50vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   text-align: center;
//   position: relative;
// }

// .banner3{
//   background-size: cover;
//   background-color: #A3D5D5;
//   color: white;
//   height: 50vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   text-align: center;
//   position: relative;
// }

// .banner-content3{
//   position: absolute;
//   right: 100px;
//   top: 30%;
//   text-align: right;

// }


// .banner-content3 h1{
//   font-size: 48px;
// }
