.form-container{
  width:80%;
  padding-top: 100px;

}

.form-container h2{
  margin-left: 20px;
}

.form-style{
  background-color: $gray-lighter;
}


.form-desktop{
  width:80%;
  display: flex;
  justify-content: space-between;
}
.form-control {
  width: 47%;
  height: 34px;
  padding: 20px 20px;
  margin: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  font-family: 'Raleway';
  font-weight: 400;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-control {
  height: auto;
  width: 100%;

}

.form-control::placeholder {
  color: #999;
}

.form-line{
  width: 200%;
  display:flex;
  justify-content: space-between;
}


.form-button{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 200%;
  display:flex;
  justify-content: center;
}


