
.banner3{
  background-size: cover;
  background-color: #A3D5D5;
  color: white;
  height: 50vh;
  min-height: 300px;
  position: relative;
}

.banner3-content{
  position: absolute;
  right: 50px;
  top: 50%;
  text-align: right;
  position: absolute;
  p{
    color: black;
  }
}

.flags{
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;

}
