.footer{
  background-color: $blue;
  background-size: 100%;
  font-size: 38px;
  text-decoration: none;
  color: white ;
  height: 35vh;
  min-height: 200px;
  color: white ;
  text-align: center;
  a {
  color: white;
  }
}



