

.navbar1{
   background: $blue;
//   transition: all 0.3s ease;
  display: flex;
  height: 80px;
  align-items: baseline;
  justify-content: space-between;
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100vw; /* Full width */
   z-index:1;
   box-shadow: none;
   padding-top: 30px;
   padding: 40px 15px;
 }

.logo {
  a{
  font-family: 'Righteous', cursive;
  color: white;
  font-size:22px;
    &:hover{
     color:black;
     text-decoration:none;
    }
  }
}

.list-inline{
    a{
    color:white;
    text-decoration:none;
    margin: 0 18px;
    font-size: 22px;
    font-weight: 200;
    &.active {
    background-color: #4CAF50;
    color: white;
    }
    &:hover{
   color:black;
   }
  }
}
.btn-minuscules {
  a{
  font-family: 'Righteous', cursive;
  font-size: 18px;
  letter-spacing:1px;
  color: white;
    &:hover{
   color:black;
   text-decoration:none;
   transition: all 0.3s ease;
  }
 }
}


.bars{
  padding-right: 20px;
  color:white;
}

.dropdown-menu{
  width: 50%;
  height: 90vh;
  background-color: #a3d5d5;
}


.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-size: 20px;
    font-weight: 100;
    line-height: 5.4;
    color: #ffffff;
    white-space: nowrap;
}

@media (max-width: 720px) {
  .btn-minuscules, .links-list{
    display:none;
  }
}

@media (min-width: 720px) {
  .bars{
    display:none;
  }
}
// .btn-minuscul:hover{
//   color:white;
// }



// .navbar-desktop a{
//   text-decoration: none;
//   font-weight: 100;
//   font-size: 16;
//   color: black;
// }

// .navbar-container{
//   display:flex;
//   align-items: center;
//   justify-content: space-between;
//   background: #A3D5D5;
// }

// .navbar-mobile{
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: #A3D5D5;
//   transition: all 0.3s ease;
//   display: flex;
//   height: 15vh;
//   align-items: center;
//   justify-content: space-between;
//   position: fixed; /* Set the navbar to fixed position */
//   top: 0; /* Position the navbar at the top of the page */
//   width: 100%; /* Full width */
//   z-index:1;
//   box-shadow: none;
// }

// .logo a{
//   font-family: 'Righteous', cursive;
//   color: white;
//   font-size:22px;
// }

// .logo-mobile a{
//   font-family: 'Righteous', cursive;
//   color: white;
//   font-size:16px;
//   margin:5px;
//   flex: 0 0 300px;
// }


// .btn-navbar a{
//  font-family: 'Righteous', cursive;
//  font-weight: 16px
//  color:white;
//  padding-right: 30px;
// }

// .btn-navbar:hover{
//   color:white;
// }


// .hello{
//   padding-right:60px;
// }
