/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,500i|Righteous");
$base-font: 'Raleway', "Helvetica", "sans-serif";
$header-font: 'Righteous', cursive;
// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: red;
$gold: #EBB75A;
$blue: #A3D5D5;
$dark-gold: #EDB056;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray-light:    #B3B3B3;
$gray:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee




h1 {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  letter-spacing: 1px;
  color:black;
}

h2 {
  font-family: 'Righteous', cursive;
  font-weight: 100;
  letter-spacing: 1px;
  color:black;
}

h3 {
  font-family: 'Raleway', "Helvetica", "sans-serif" !important;
  font-weight: 100 !important;
  letter-spacing: 1px;
}
h4{
  font-family: 'Raleway', "Helvetica", "sans-serif" !important;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  color:$dark-gold !important;
}

h5{
  font-family: 'Raleway', "Helvetica", "sans-serif" !important;
  font-weight: 100;
  letter-spacing: 1px;
  color:$dark-gold !important;
}

p {
  font-weight: 100;
  letter-spacing: 1px;
 }

