banner2
 <div class="banner2">

        <div class="banner2-content">
          <h2>NUESTROS SERVICIOS </h2>
          <p>Estamos aquí para sacar el máximo partido de su evento. Olvídese del estrés de organizar y sea el anfitrión de la mejor fiesta posible. Trabajamos día a día para darle el mejor servicio posible.</p>
          <br>

        </div>
        <%= image_tag "images/chica.png", class: "chica"%>
      </div>
