<div class="banner1-desktop" style="background-image: url('images/background.png');">


  <%= image_tag "images/banner-table.png", class: "fruta"%>
  <div class="banner1-desktop-content">

    <h1>La COCTELERA
      <br>
      de Formentera</h1>
      <h3>Lleva el sabor de los
      <br>mejores cócteles a tu fiesta</h3>
      <br>
      <br>
      <%= link_to "RESERVA AHORA", "form.html" , class: "btn-banner2" %>
  </div>
</div>

<div class="banner1-mobile" style="background-image: url('images/background-mobile.png');">


  <%= image_tag "images/banner-table.png", class: "fruta-mobile"%>
  <div class="banner1-mobile-content">

    <h1>La COCTELERA
      <br>
      de Formentera</h1>
      <h3>Lleva el sabor de los
      <br>mejores cócteles a tu fiesta</h3>
      <br>
      <br>
      <%= link_to "RESERVA AHORA", "form.html" , class: "btn-banner2 btn-center" %>
  </div>
</div>


