 <div class="footer">
      <div class="footer-content">
        <div>
          <ul class="list-inline">
            <li>
              <% link_to "www.facebook.com" do %>
                <i class="fa fa-facebook"></i>
              <%end %>
            </li>
            <li>
              <% link_to "www.instagram.com" do %>
                <i class="fa fa-instagram"></i>
              <%end %>
            </li>
            <li>
              <% link_to "www.twitter.com" do %>
                <i class="fa fa-twitter"></i>
              <%end %>
            </li>
               <li>
              <% link_to "www.youtube.com" do %>
                <i class="fa fa-youtube"></i>
              <%end %>
            </li>
          </ul>
          <p>email: events@cocteleraformentera.com</p>
          <p>tel: 608983840</p>
        </div>
      </div>
    </div>
  </div>



