    <div class="navbar1 ">
      <div class="logo">
      <%= link_to "LA COCTELERA", "index.html"%>
      </div>
           <div class="btn-minuscules">
          <%= link_to "reserva ahora", "form.html"  %>
      </div>
      <div class="bars">
        <i class="fa fa-bars dropdown-toggle" id="menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu-dropdown">
          <li><a href="index.html"><b>HOME</b></a></li>
          <li><a href="barmen.html">BARMEN</a></li>
          <li><a href="cocteles.html">COCTELES</a></li>
        </ul>
      </div>
    </div>

