


   <div class="wrapper ">
     <div class="container3">


        <form action="https://api.formferret.com/v1/f/YOUR_UNIQUE_FORM_ID" method="POST" accept-charset="UTF-8">
          <h3>INFORMACIÓN DE LA RESERVA</h3>
          <br>

          <div class="form-group form-style">
            <div class="row">
              <div class="col-xs-10 col-sm-5">
                <input type="text" class="form-control margins" placeholder= "NOMBRE">
              </div>
              <div class="col-xs-10 col-sm-5">
                <input type="text" class="form-control margins" placeholder= "APELLIDOS">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-10 col-sm-5">
                <input type="text" class="form-control margins" placeholder= "TELEFONO">
              </div>
              <div class="col-xs-10 col-sm-5">
                <input type="emanil" class="form-control margins" placeholder= "EMAIL">
              </div>
            </div>
          </div>

          <div class="form-group ">
            <div class="row">
              <div class="col-xs-10 col-sm-5">
                <select name="" id="" class="form-control margins">
                  <option value="">Evento</option>
                   <option value="">Barco</option>
                   <option value="">Taller de cócteles</option>
                </select>
              </div>
              <div class="col-xs-10 col-sm-5">
                <input type="date" name="bday" class="form-control margins" min="<%Date.today %>"><br>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-xs-10 ">
                <textarea name="message" id="" cols="30" rows="5" class="form-control margins">¿Alguna Petición especial?</textarea>
              </div>
            </div>
          </div>


            <input type="submit" value="RESERVA AHORA" class="btn-form ">



        </form>






        </div>
       </div>
     </div>





















       </div>
     </div>
