---
title: La coctelera
---


    <div class="banner-desktop only-desktop" style="url('images/background.png');">
      <img src="images/banner-table.png" alt="" class="fruta">
      <div class="banner-desktop-content">

            <h1>La COCTELERA
            <br>
                  de Formentera</h1>
            <h2>Lleva el sabor de los
            <br>mejores cócteles a tu fiesta</h2>
            <br>
            <br>
            <%= link_to "reserva ahora", "form.html"  %>
      </div>
    </div>

