<div class="wrapper">
  <div class="container-thanks">
    <h2 class="gold"> ¡MUCHAS GRACIAS!</h2>
    <p class= "black">por tu reserva</p>
    <p class= "black">Te contactaremos en menos de 24h </p>
    <%= image_tag "images/chica.png", class: "chica"%>
  </div>
</div>
